[submodule "external/libsimdpp"]
	path = external/libsimdpp
	url = https://github.com/p12tic/libsimdpp.git
[submodule "external/meta"]
	path = external/meta
	url = https://github.com/ericniebler/meta.git
[submodule "external/cpp-sort"]
	path = external/cpp-sort
	url = https://github.com/Morwenn/cpp-sort.git
[submodule "external/TCLAP"]
	path = external/TCLAP
	url = https://github.com/eile/tclap.git
[submodule "lingeling"]
	path = external/lingeling
	url = https://github.com/msoos/lingeling-ala.git
[submodule "external/BCFW-Bundle"]
	path = external/BCFW-Bundle
	url = https://github.com/pawelswoboda/BCFW-Bundle.git
